/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
/* berihun bootstrap project starts here */
/* optional css */
/* .section-1 {
  padding: 25px 0;
} */

/* common for the first 3 section */
* {
  margin: 0;
  padding: 0;
}
.link {
  justify-content: center;
}
.BG {
  height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 20px;
}
.tell-about {
  font-size: 26px;
}
.price {
  font-size: 17px;
  color: #86868b;
}
.lists ul li a {
  color: #0066cc;
}
.lists ul li a::after {
  font-family: "FontAwesome";
  content: "\f054";
  padding-left: 10px;
}
.anchor {
  padding-right: 20px;
}
/* section-1 */
.section-1 {
  background: #fafafa;
}
.macbook,
.about {
  color: #000000;
}

/* section-2 */
.section-2 {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
}
.iphone-pro,
.product-pro {
  color: #ffffff;
}

/* section-3 */
.section-3 {
  background-image: url("../images/home/iphone11-bg.jpg");
}
.iphone-11 {
  color: #000000;
}
.product-11 {
  color: #000000;
}
/* over-all-binder-1 */
/* section-4 */
.over-all-binder-1 .section-4 {
  background: #fff;
}
.over-all-binder-1 .section-5 {
  background: #fff;
}
.over-all-binder-1 .section-4 {
  background-image: url("../images/home/watch-series-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* section-5 */
.over-all-binder-1 .section-5 {
  background-image: url("../images/home/apple-card.jpg");
}
.tell-about-2 {
  font-size: 20px;
}
/* over-all-binder-2 */
/* section-6 */
.over-all-binder-2 .section-6 {
  background: #fff;
}
.over-all-binder-2 .section-7 {
  background: #fff;
}
.over-all-binder-2 .section-6 {
  background-image: url("../images/home/apple-tv-background.jpg");
  height: 580px;
  background-position: center;
  background-size: cover;
}
.over-all-binder-2 .section-7 {
  background-image: url("../images/home/air-pods.jpg");
  color: #fff;
  height: 580px;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
  background-repeat: no-repeat;
}
.image {
  font-size: 40px;
  font-weight: bold;
}
.tv-icon {
  padding: 180px 0 200px;
}

.watch-trailer a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
/*over-all-binder-3 */
.over-all-binder-3 {
  /* display: flex; */
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.over-all-binder-3 .section-8 {
  background-image: url("../images/home/macbook-pro.jpg");
  background-size: initial;
  background-color: #fff;
  background-position: bottom;
  height: 580px;
  background-repeat: no-repeat;
}
.over-all-binder-3 .section-9 {
  background-image: url("../images/home/new-ipad.jpg");
  height: 580px;
  background-position: center;
  background-size: cover;
}
/* .product-title-small {
  font-weight: 700;
  font-size: 45px;
} */
.over-all-binder-3 .section-8 {
  background-color: #fafafa;
}
.over-all-binder-3 .section-8 {
  background-color: #fafafa;
}
